.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.button--primary {
  background-color: #555ab9;
  color: #ffffff;
}

.button--secondary {
  box-shadow: rgba(0 0 0 / 0.15) 0 0 0 1px inset;
  background-color: transparent;
  color: #333333;
}

.button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
