@use '../../tokens/variables' as Variables;
@use '../../tokens/mixins' as Mixins;

$container-padding: 16px;
$container-padding-sm: 20px;
$container-padding-md: 28px;
$container-padding-lg: 32px;

.container {
  margin: 0 auto;
  width: 100%;
  max-width: Variables.$page-max-width;
  padding: 0 $container-padding;

  @include Mixins.bp(sm-min) {
    padding-right: $container-padding-sm;
    padding-left: $container-padding-sm;
  }

  @include Mixins.bp(md-min) {
    padding-right: $container-padding-md;
    padding-left: $container-padding-md;
  }

  @include Mixins.bp(lg-min) {
    padding-right: $container-padding-lg;
    padding-left: $container-padding-lg;
  }
}
